//  Imports

    @import "variables";

//
//  Base
//  ----------------------------------------------------------------------- //

    .form label.error + span    { display: none; }

    .button-group.full .button  { width: 100%; }

    .l-public                   { .user-select; }

    .form .style                { border: 1px solid #ccc; padding: 8px 12px; margin-bottom: 10px; }

    li                          { list-style: none outside none; }

    ul.horizontal li            { width: auto; }

    label.auto                  { max-width: 100%; }

    .scrollable                 { .overflow(auto, hidden); }

    .align                      { .block; .has-align; width: 100%; }

    .form li label.error        { margin: 0; width: 100%; }

    .uno .validation-errors     { width: 100%; margin: 0; float: right; }

    .uno .short .validation-errors,
    .uno .shorter .validation-errors { min-width: 320px; }
    
    .uno .split-3 .validation-errors     { min-width: 0; }

    .table tr.prev td:first-child { border-left: 3px solid @hexc; }

    .table tr.new td:first-child { border-left: 3px solid @accent; }
    .table tr.new td            {  background-color: @hexe; }

    .scroll-y                   { .overflow(hidden, auto); height: 388px }

    .error .highlight           { background-color: #eabebe; list-style: disc inside; }
    .error ul li                { padding: 2px 5px; }

    // .form.auto                  {} blah..

    // .tabs .summary .active + .details.scrollable {overflow:auto; } 

    .form.halves {
        & li > strong      { width: 50%; text-align: right; }
        & li > div         { width: 50%; }
    }

    table tfoot td { font-weight: bold; border-top: 1px solid #ccc; }
    
    .table.striped tfoot tr td,
    .table.striped tfoot tr.odd td { background-color: transparent; }


    .uno .form li input[type="checkbox"] { position: relative; }

    .uno .form li input[type="checkbox"] + span,
    .uno .form li input[type="checkbox"] + div + span { position: absolute; top: 0; }

    th.cell-short:before,
    td.cell-short:before    { .pseudo('', 120px, 1px); }
    th.cell-medium:before,
    td.cell-medium:before   { .pseudo('', 240px, 1px); }
    th.cell-large:before,
    td.cell-large:before    { .pseudo('', 380px, 1px); }

    .uno .list,
    ul, ol                      { 
        &.bullet > li           { .list-style(none, '../images/common/bullet.png'); }
    }

    table thead tr th { 
        line-height: 1; 
    }

    .form li input[type="checkbox"],
    .form li input[type="radio"] {
        &                       { .absolute.left-top(0, 0); }
        & + span                { .padding(0 0 0 18px); }
    }

    textarea:required,
    select:required,
    input:required {
        box-shadow: none;
    }

    // [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide {
    //     display: none !important;
    // }

    input[type="radio"],
    input[type="checkbox"] { padding: 0; border: 0 none; }

    // .tabset
    //     &.accordion {
    //             .tabs.accordion;
    //     }

    .fa.fa-file-pdf-o,
    .fa.fa-file-excel-o { margin-right: 5px; }

    td.fecha:before,
    th.fecha:before {  .pseudo('', 150px, 1px); }

    html .table thead tr th[colspan]  { text-align: center; }
    html table td,
    html .table td,
    html table th,
    html .table th { text-align: left; } // fixed width to add custom cell width

    .table thead tr th.text-right,
    .table thead tr td.text-right       { text-align: right; }
    .table thead tr th.text-left,
    .table thead tr td.text-left        { text-align: left; }
    .table thead tr th.text-center,
    .table thead tr td.text-center      { text-align: center; }
    .table thead tr th.text-justify,
    .table thead tr td.text-justify     { text-align: justify; }

    .table tr th.nowrap                    { white-space: normal; }

//  Header
//  ---------------------------------------

    .m-brand                    {
        &                       { width: auto; }
        & .brand                { .size(230px, 120px); margin: 0; }
        & .brand a              { .display(block); .size(100%, 120px); }
        & .brand  strong        { .display(none); }
        & .valores              { .width; float: right; }
    }

    .valores .m-brand           {
        &                       {  }
    }

    .m-sidemenu                 {
        &                       { width: auto; .square(56px); line-height:56px; font-size: 1.8em; color: @primary; text-align: center; margin-right: 10px; .display(none, 1025px); }
        & a                     { color: inherit; display: block; }
        & a:hover               { .color(@text-primary, @primary); }
    }

    .m-login-data {
        &                       { width: auto; font-size: .9em; margin: -15px 0 10px; color: @hex8; }
        & p                     { text-align: left; }
    }

    .m-user-options             {
        &                       { .width; padding-right: 50px; .position.right-top(absolute, 0, 10px); .index(3); .color(@text-base); }
        & .user                 { text-align: right; color: @hex8; }
        & .name                 { text-align: right; .font(bold 1.4em); }
        & .email                { text-align: right; margin-bottom: 10px; }
        & .options              { .position.right-top(absolute, 10px, 10px); font-size: 1.6em; .rounded(50%); .square(32px); text-align: center; line-height:30px; }
        & .options.show,
        & .options:hover        { .color(@white, @primary); }
        & .options.show + .option-box { .display(block); }
        & .options .fa          { margin: 0; }
        & .option-box           {
            &                   { .position.right-top(absolute, 0, 56px); border: 1px solid #ddd; .back.color(white); .shadow(0 0 2px, #888, .4);
                                  .padding(10px 10px 0); width: 320px; }
            &:before            { .pseudo('', 0, 0); .position.right-top(absolute, 15px, -22px); .arrow.top(10px, @hexd); }
            &:after             { .pseudo('', 0, 0); .position.right-top(absolute, 15px, -20px); .arrow.top(10px, @hexf); }
            & .button-group     {
                border-top: 1px solid @hexc; padding: 10px; margin: 0 0 0 -10px; .box-sizing;
            }
        }
    }

    .m-font-size                {
        &                       { width: auto; .position.right-bottom(absolute, 10px, 0); }
        & .fontsize             { color:@primary; display: block; width: 30px; height: 32px; float: left; text-align:center; }
        & .fontsize:focus,
        & .fontsize:hover       { .color(@text-primary, @primary); text-decoration: none; }
        & #incFont              { font-size: 1.3em; line-height: 32px; }
        & #resetFont            { font-size: 1.1em; line-height: 34px; text-align: left; padding-left: 8px; }
        & #decFont              { font-size: .7em; line-height: 38px; }
    }

//  Nav
//  ---------------------------------------

    .m-mainnav {
        &                       { .font(bold 1.2em); text-align: right; }
        & li:first-child        { .float(left, 1025px); .border(0 0 1px, solid, @hexb); }
        & li                    { .width(100%); .width(auto, 1025px); .border(1px 0, solid, @hexe @trans @hexa); }
        & li                    { .display(block); .display(inline-block, 1025px); .margin(0 -4px 0 0, 1025px); vertical-align: top; text-align: left; }
        & li a                  { .padding(7px 10px); .padding(18px 20px 4px, 1025px); .display(block); .display(inline-block, 1025px); .color(@hex4); }
        & li a:hover            {  text-decoration: none; .padding(16px 20px 6px, 1025px); }
        & .subitems             {
            &                   { .padding(0 3px 0 0, 1025px); }
            & li                { .border; margin: 0; }
            & li:first-child    { .border(0 1px 0 0, solid, @hexb); }
            & li a              { .padding(7px 10px 7px 25px); .padding(2px 20px 3px, 1025px); }
            & .title            { .font(bold .7em); text-align: left; text-transform: uppercase; color:@hex2; padding: 0 10px; .border(0 0 0 1px, solid, @hexb); }
        }
    }

    @media all and (min-width: 1025px) {
        .m-mainnav li           { .border(0 1px 0 0, solid, @hexb); .float(none); }
        .m-mainnav li:first-child { .border(0 1px 0 0, solid, @hexb); }
        .m-mainnav .subitems    { text-align: center; padding: 0; }
        .m-mainnav .subitems ul { .border(0 0 0 1px, solid, @hexb); clear: both; }
        .m-mainnav .subitems .title { text-align: center; display: inline-block; }
        .m-mainnav .subitems ul { .float(none); }
    }

//  Main
//  ---------------------------------------

    .m-recomendaciones          {
        & p                     { color: @hex6; }
    }

    .m-current-date {
        // &                       { line-height: 58px;  }
    }

    .m-publicidad               {
        &                       { display: none; padding-top: 50px; .display(block, 640px) }
    }

    .m-general-pie              {
        &                       { .center-block(350px, 1025px); overflow-x: hidden; }
        & > canvas              { max-width: 320px; }
    }

    .m-resumen                  {
        & > ul                  { font-size: .9em; }
        & > ul                  { border-top: 1px solid @hexc; }
        & > ul > li             { border-bottom: 1px solid @hexc; padding: 1em; .strong-div-width(25%, 75%); font-size: 1.2em; }
        & > ul > li> strong     { .block; }
        & table.summary tr th,
        & table.summary tr td   { padding: .3em .5em; }
    }

    .c-nav                      {
        &                       { background-color: @hexf; z-index: 2; top: 0; .position; .position(absolute, 1025px); .border(0 0 1px 0, solid, @hexd); }
    }

    .m-fideicomisos             {
        &                       { margin-top: @base-margin; }
        & strong                { margin: .2em 0 .3em; display: block; }
    }

    .m-subnav {
        &                       { .font(1.2em); text-align: right; }
        & li                    { .display(block); .display(inline-block, 1025px); .margin(0 0 0, 1025px); vertical-align: top; text-align: left; .width(auto); }
        & li a                  { .padding(7px 10px); .padding(18px 20px 4px, 1025px); .display(block); .display(inline-block, 1025px); .color(@hex4); }
        & li a:hover            {  text-decoration: none; .padding(16px 20px 6px, 1025px); }
    }

    .m-results                  {
        &                       {  }
        & .subhead              { font-size: 1.2em; }
        &.accordion .table th   { border-top: 0 none; }
        & .summary              { font-size: 1.4em; }
        & .disponible           { float: right; width: auto; font-size: .9em; padding: 0 .6em; }
        & .disponible span      { font-weight: normal; font-size: .86em; margin-right: .2em; }
        & table .fa             { font-size: 1em; }
        & .fa-sort-up        { color: green; }
        & .fa-sort-down       { color: red; }
    }

    .convenciones               { border: 1px solid @hexd; width: auto; margin-bottom: 1em; }
    .convenciones div           { width: auto; padding: .2em .5em; }

    .uno .grid.separate > .center-50,
    .uno .grid > .center-50,
    .center-50 {
        &                       { .center-block(50%, 640px); } // margin-left:  50% !important;
    }

//  Footer
//  ---------------------------------------

    footer                      {  .shadow(0 0 4px, #bbb, .4); }

    .m-certificados             {
        &                       { text-align: center; padding:@base-margin 0; }
        & span                  { .inline-block; }
        & .amv                  { .size(120px, 46px); .back(@hexf, '../images/certificados.png', no-repeat, 0 0); .hide-text; }
        & .verisign             { .size(120px, 46px); .back(@hexf, '../images/certificados.png', no-repeat, -120px 0); .hide-text; }
        & .super                { .size(120px, 46px); .back(@hexf, '../images/certificados.png', no-repeat, -240px 0); .hide-text; }
    }

    .m-legal                    {
        &                       { text-align: center; min-height: 65px; line-height: 65px; }
        & .valores a,
        & .fiduciaria a,
        & .seven4n a            { .hide-text; .inline-block; .transition(all, 150ms); }
        & .fiduciaria a         { .size(102px, 32px); .back(@hexf, '../images/logo-fiduciaria-small.png', no-repeat, left top); vertical-align: top; margin-top: 15px; }
        & .valores a            { .size(102px, 32px); .back(@hexf, '../images/logo-valores-small.png', no-repeat, left top); vertical-align: top; margin-top: 15px; }
        & .seven4n              { float: right; }
        & .seven4n a            { .size(38px, 12px); .back(@hexf, '../images/logo-s4n-small.png', no-repeat, left top); }
        & .seven4n:hover a      { .back.position(left bottom); }
        & .valores              { .float(none); .float(left, 960px); }
        & .fiduciaria           { .float(none); .float(left, 960px); }
        & span                  { .display(block); .display(inline-block, 960px); .width(100%); .width(auto, 960px); text-align: center; }
    }

//  Styles
//  ---------------------------------------

    #container                  {
        & .skeyboard            { .width(364px); .width(480px, 800px); .absolute.align(100%, 0, auto); .absolute.align(-45px, 100%, auto, auto, 840px); font-size: 1.2em; }
        & .skeyboard:before     { .arrow.right(12px, @hexa); .position.right-top(absolute, -24px, 56px) }
        & .skeyboard:after      { .arrow.right(12px, @hexf); .position.right-top(absolute, -23px, 56px) }
        & input.keyboard        { .back(@hexf, '../images/forms/keyboard.png', no-repeat, 100% 0); padding-right: 45px; }
        & .skeyboard .numbers   { float:right; }
    }

    .button             { min-height: 42px; .font(bold 1em); .rounded(@base-radius); .color(@hexf, @hexd); }

    .button.reverse       { .color(@hexf, @primary); .border(1px, solid, @hexf); }

    .form.login         {
        & strong        { font-size: 1.3em; color: @primary; padding:0 .2em .2em 0; } //
        & .input, & .select,
        & input, & select,
        & textarea      {
            &           { .rounded(@base-radius); height: 52px; .back.color(#fff); font-size: 1.2em; line-height: 50px; .shadow(0 0 4px, #bbb, .4); }
            &.focus,
            &:focus,
            &.hover,
            &:hover                 {  border-color: @secondary; }
        }
    }

    .form.secondary             { 
        & li > strong           { .font(bold 1.2em); .block; padding: .2em 0; }
        & li > strong span      { .font(0.9em @d .7); }
        & li                    {  padding-bottom: .5em; border-bottom: 1px dotted @hexc; }
        & li > div              {  padding-top: 1em; }
    }

    .heading            {
        & a             { font-size: 0.6em; padding:0 0 0 0.3em }
    }

    .l-logged .heading.base     {
        &                       { .font(2.2em @d 55px, @font-title); .color(@hex4); margin-bottom: 10px; .padding(0 2% 0 0); }
        & i                     { margin-right: 10px; }
        & span                  { font-size: 0.66em; text-align: right; }
        & span a                { display: inline-block; font-size: 14px; line-height: 1; padding: 0 0 0 10px }
    }

    .option-description {
        &                   { padding: 0 0 0 24px; }
        span&               { font-size: 1.1em !important; }
    }

    .panel.graphs       {
        &               { .border(1px, solid, @border-base); .padding(.75em 1.5em); }
        & #myChart      { .center-block(240px); }
        & #barChart     { .center-block(360px); }
    }

    .panel.login        {
        &               { .padding(30px 5% 20px); .padding(50px 7% 20px, 640px); } // border: 1px solid #ccc;
        & > .subhead    { width: 100%; min-height: 36px; line-height: 34px; font-size: 1.4em; .offset(6%); .offset(24%, 640px); .box-sizing; background-color: @primary; color: @text-primary; text-align: center; text-transform: uppercase; margin-bottom: @base-padding; }
        & > .subhead:before { .arrow.right-top(10px, @primary-darker); .position.left-bottom(absolute, 0, -10px); }
        & > .subhead:after { .arrow.left-top(10px, @primary-darker); .position.right-bottom(absolute, 0, -10px); }
        & .message      { .center-block(156%, 640px); .width(156%, 640px); }
        & p             { color: @hex8; }
    }

    .panel.padded       {
        &               { padding:@base-padding 0%; .padding(@base-padding 18%, 800px); }
        & li a          { text-decoration: underline; }
    }

    .panel.padded-medium {
        &               { padding:@base-padding 0%; .padding(@base-padding 18%, 800px); }
        & li a          { text-decoration: underline; }
    }

    .panel.success      {
        &               { padding-left: 120px; padding-bottom: 0; border-top: 15px solid #00a49e; .back(@hexf, '../images/icon-ok.png', no-repeat, 40px 40px); }
    }

    .panel.recap        {
        &               { color: @hex4; background-color: #fff; .shadow(0 1px 2px, #ccc, .6); .border(1px, solid, @hexc @hexb @hexb @hexc); }
        & .top-bar      {
            &           { background-color: #fff; .border(0 0 2px 0, solid, #ccc); }
            & .subhead  { font-size: 1.4em; font-weight:bold; .width(50%, 49px); padding: 0 0 0 10px; line-height: 49px; color: @primary; }
            & .subhead i { margin-right: 3px; }
            & .balances { width:50%; min-width: 220px; padding: 5px 10px 5px 0; text-align: right; }
            & .balances strong { .font(.96em @d 1); }
            & .balances div    { .font(1.6em @d 1); }
        }
        & .overview {
            & > li         { padding: 5px 0; .border(0 0 1px 0, dotted, #ccc); }
            & li:last-child { border:0; }
            & .title     { .width(50%, 640px); padding: 5px 0 5px 10px; }
            & .title strong      { font-size: 1.2em; color: @secondary; }
            & .title strong span { font-size: .86em; line-height: 1; font-weight: normal; color: #888; display: block; }
            & .value     { .width(50%, 640px); padding: 5px 10px 5px 0; text-align: right; }
            & .subitems  {
                & li     { .strong-div-width(100%, 100%); .strong-div-width(50%, 50%, 640px); padding: 2px 10px 2px 20px; text-align: right; .border(1px 0 0, dotted, #ccc); }
                & li > strong { text-align: left; font-weight: normal; }
                & li .val { font-weight: bold; }
                & li:hover { .back.color(@hexef); }
            }

            // & .messages  { padding: 1em; text-align: center; font-weight: normal; color:@hex8; }
            // & .loader    { .back(@trans, '../images/loader.gif', no-repeat, center 1.5em); padding-top: 3.5em; }
        }
        // & .scrollable    {
        //     & .messages  { padding: 1em; text-align: center; font-weight: normal; color:@hex8; }
        //     & .loader    { .back(@trans, '../images/loader.gif', no-repeat, center 1.5em); padding-top: 3.5em; }
        // }
    }

    .panel {
        & .messages     { padding: 1em; text-align: center; font-weight: normal; color:@hex8; }
        & .messages.loader       { .back(@trans, '../images/loader.gif', no-repeat, center 1.5em); padding: 3.5em 1em 1em; }
        & .messages.error { color: red; }
    }

    .m-resumen {
        & .messages     { padding:0 1em; }
    }

    .table.summary      { 
        &               { .table.border(0 0 1px 0, solid, @hexc); .table.padding(.3em 0); }
        & .options      { text-align: right; }
        &.wide          { .table.padding(.5em .2em); }
    }

    .table.single               {
        &                       { .table.padding(0.35em .75em); .font-size(1.0em, 800px); .border(0 0 1px, solid, @hexc); }
        &.smaller               { .font-size(.96em); }
        & tbody tr              { .hover.color(@text-base, @hexe); }
        & tbody tr.selected td  { .color(@hexf, @primary); }
        & thead tr th           { .border(1px 0, solid, @hexc); }
    }

//  Modals
//  ---------------------------------------

    .modals {
        &                       { .index(3); }
        & > div                 {
            &                   { display: none; }
            &.active            { display: block; }
            & .overlay          { .back(@trans, '../images/common/overlay.png'); .fixed.align(0, 0, 0, 0); .user-select; }
        }
        & > .popup              {
            & .contents         { .color(@text-base, @base); .center-block(520px, 520px); .center-vertical(480px); .width(520px, 520px); .height(480px); position: fixed; .rounded(@base-radius); .padding(0 1em 36px); }
            & .contents .button-group { .position.right-bottom(absolute, 1em, 0); }
        }
    }

    .modals {
        & > .loader             {
            & .contents         { .back(@black, '../images/common/loading2_2x.gif', no-repeat, center); .rounded(10px); .square(80px); .fixed.align(380px, 0, 0, -40px); .margin(0 0 0 50%); .shadow(0 0 4px, @black, .8); }
        }
        & > .status             {
            & .contents         { 
                &               { .color(@hexf, @primary); min-height: 240px; .position.left-top(fixed, 0, 320px); padding: 20px; font-size: 1.1em; }
                & h2            { font-weight: normal; }
                & .small        { margin-top: 60px; }
                & .button-group { .spacing; }
            }
        }
    }

    .modals {
        & > .success            {
            & .text-frame       {
                &               { .padding(30px 20px 60px 140px); .back(@hexf, '../images/icon-ok.png', no-repeat, 40px 40px); min-height: 240px; }
                & .button-group { .spacing(0, 10px 20px); .absolute.left-bottom(0, 0); }
            }
            & .contents         { 
                &               { .color(@text-base, @hexf); .position.left-top(fixed, 0, 320px); font-size: 1.1em; border-top: 15px solid #95c794; }
                & h2            { font-weight: normal; }
                & .small        { margin-top: 60px; }
            }
        }
        & > .warning            {
            & .text-frame       {
                &               { .padding(30px 20px 60px 140px); .back(@hexf, '../images/icon-warning.png', no-repeat, 40px 35px); min-height: 240px; }
                & .button-group { .spacing(0, 10px 20px); .absolute.left-bottom(0, 0); }
            }
            & .contents         { 
                &               { .color(@text-base, @hexf); .position.left-top(fixed, 0, 320px); font-size: 1.1em; border-top: 15px solid #e8b051; }
                & h2            { font-weight: normal; }
                & .small        { margin-top: 60px; }
            }
        }
    }

    .modals {
        & > .error              {
            & .contents         { 
                &               { .color(@text-base, @hexf); min-height: 240px; .position.left-top(fixed, 0, 320px); font-size: 1.1em; .reset-block(); .center-block(640px, 640px); .padding(30px 20px 60px 140px); .back(@hexf, '../images/icon-ok.png', no-repeat, 40px 40px); border-top: 15px solid @error;
                    border-image:url(../images/img-top-stripe.png) 15px 15px; webkit-border-image:url(../images/img-top-stripe.png) 15px 15px; }
                & h2            { font-weight: normal; }
                & .small        { margin-top: 60px; }
                & .button-group { .spacing(0, 10px 20px); .absolute.left-bottom(0, 0); }
            }
        }
    }

    .modals {
        & > .popup-tyc,
        & > .popup2-tyc         {
            & .contents         { .color(@text-base, @base); .center-block(720px, 720px); .center-vertical(480px); .width(720px, 720px); .height(520px); position: fixed; .rounded(@base-radius); .padding(0 1.6em 36px); .font-size(1.1em) }
            & .contents .button-group { .position.right-bottom(absolute, 1em, 0); }
            & .contents {
                & h4            { margin-top: .4em; }
                & .form.primary {
                    &           { padding-right: .5em; }
                }
            }
        }
    }


//  Custom
//  ---------------------------------------

    .color-codes {
        &               { margin: 15px 0 0; }
        & li            { margin: 3px 0; padding:0 10px 0 18px; width: 100%; }
        & li span       { .square(15px); .block; margin-right: 5px; border: 1px solid #ccc; .absolute.left-top(0, 0) }
        & .var1         { background-color: #00275b; }
        & .var2         { background-color: #dedc1e; }
        & .var3         { background-color: #b3bec6; }
        & .var4         { background-color: #00a49e; }
        & .var5         { background-color: #eb6e08; }
        & .var6         { background-color: #00a4da; }
        & .var7         { background-color: #ffffff; }
        & .var8         { background-color: #8b91b2; }
        & .var9         { background-color: #f3f1b9; }
        & .var10        { background-color: #6c7e89; }
        & .var11        { background-color: #a3d2ce; }
        & .var12        { background-color: #fac99e; }
        & .var13        { background-color: #9ecfe9; }
        & .var14        { background-color: #8f9ea8; }
        & .var15        { background-color: #596490; }
        & .var16        { background-color: #ecea8f; }
        & .var17        { background-color: #4a5d68; }
        & .var18        { background-color: #66bbb5; }
        & .var19        { background-color: #f6ab6d; }
        & .var20        { background-color: #5eb6de; }
    }

    .datepicker         { .back(@trans, '../images/forms/date.jpg', no-repeat, top right); cursor: default; padding-right: 36px; }

    #recaptcha_area     { 
        & table         { width: auto; min-width: 0; .color(@text-base, @white); .border(1px, solid, @hexb); .shadow(0 1px 2px, @hexe, .6); }
        & input[type="text"] { .padding(0 .6em); }
    }

// Animate.CSS
// ----------------------------------------

.animate {
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

//  Plugins
//  ---------------------------------------

   .dataTables_wrapper  { text-align: center; }
   .dataTables_wrapper .dataTable thead .sorting { .back(@trans, "../images/dataTables/sort_both.png", no-repeat, right center); }
   .dataTables_wrapper .dataTable thead .sorting_asc { .back(@trans, "../images/dataTables/sort_asc.png", no-repeat, right center); }
   .dataTables_wrapper .dataTable thead .sorting_desc { .back(@trans, "../images/dataTables/sort_desc.png", no-repeat, right center); }
   
   .fa                  { margin-right: 10px; }

    // .uno.picker__active main    { z-index: 2; }
    .uno .picker__box           { padding: 0 1em .5em; }
    .uno .picker__nav--prev, 
    .uno .picker__nav--next     { .size(56px, 32px); z-index: 2; }
    .uno .picker__month,
    .uno .picker__year          { width: auto; display: inline-block; float: none; }
    .uno .picker__table td,
    .uno .picker__table th,
    .uno .picker__table         { border: 0 none; text-align: center; }
    .uno .picker__table         { margin-top: .5em; margin-bottom: .5em; }
    .uno .picker__day           { text-align: center; }
    .uno .picker__button--today, 
    .uno .picker__button--clear  { padding: 0; width: 46%; }
    .uno .picker__button--clear:before { content: ''; }
    .uno .picker__button--today:before { .border; }
    .uno .picker--opened .picker__holder { overflow: hidden; }
    // styled
    // .uno .picker__button--today, 
    // .uno .picker__button--clear  { .back(#1477B8); }
    .uno .picker__day--highlighted:hover, 
    .uno .picker--focused .picker__day--highlighted { .back.color(@primary); }
    .uno .picker__day--selected, .picker__day--selected:hover { border-color: @primary; }
    .uno .picker__day--today        { color: @primary; }
    .uno .picker__day--today:before { border-top-color: @primary; }
    .uno .picker__day--highlighted  { .back.color(@primary-lighter); }
    .uno .picker__day--infocus:hover,
    .uno .picker__day--outfocus:hover { .back.color(@primary-lighter); }
    .uno .picker__button--today:hover,
    .uno .picker__button--clear:hover  { .back.color(@primary-lighter); }

    .morris-hover {
      // min-width: 90px;
      // max-width: 210px;
      width: auto;
    }
    .morris-hover-point {
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color:#fff !important;
    }