include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        //- scripts
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-public
        include sections/header/100
        include sections/main/103
        include sections/footer
        script(src='../javascript/scripts.js')
