include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        //- scripts
        script(src='../javascript/libs/angular.min.js')
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-logged.inicio
        include sections/header/200
        include sections/nav
        include sections/main/200
        include sections/footer
        script(src='../javascript/libs/chart.min.js')
        script(src='../javascript/libs/dataTables/jquery.dataTables.min.js')
        script(src='../javascript/scripts.js')
        script.
            var mydata = [
                {
                    value: 101,
                    color : "#00275b"
                },
                {
                    value : 102,
                    color: "#dedc1e"
                },
                {
                    value : 103,
                    color : "#b3bec6"
                },
                {
                    value: 104,
                    color : "#00a49e"
                },
                {
                    value : 105,
                    color: "#eb6e08"
                },
                {
                    value : 106,
                    color : "#00a4da"
                },
                {
                    value: 107,
                    color : "#ffffff"
                },
                {
                    value : 108,
                    color: "#8b91b2"
                },
                {
                    value : 109,
                    color : "#f3f1b9"
                },
                {
                    value: 110,
                    color : "#6c7e89"
                },
                {
                    value: 101,
                    color : "#a3d2ce"
                },
                {
                    value : 102,
                    color: "#fac99e"
                },
                {
                    value : 103,
                    color : "#9ecfe9"
                },
                {
                    value: 104,
                    color : "#8f9ea8"
                },
                {
                    value : 105,
                    color: "#596490"
                },
                {
                    value : 106,
                    color : "#ecea8f"
                },
                {
                    value: 107,
                    color : "#4a5d68"
                },
                {
                    value : 108,
                    color: "#66bbb5"
                },
                {
                    value : 109,
                    color : "#f6ab6d"
                },
                {
                    value: 110,
                    color : "#5eb6de"
                }
            ];

            $(document).ready(function() {
                var myPie = new Chart(document.getElementById("myChart").getContext("2d")).Pie(mydata);
            });


        script.
            $.fn.dataTableExt.oStdClasses.sPaging = "pagination primary ";

            $('#dataTable').dataTable( {
                "filter"            : false,
                "bLengthChange"     : false,
                "info"              : false,
                "iDisplayLength"    : 5,
                "language"          : 
                {
                    "url" : "../javascript/libs/dataTables/spanish.json"
                }
            });
            
        script.
            $('#incFont').click(function(){   
                curSize= parseInt($('main').css('font-size')) + 2;
                
                if(curSize<=18){
                    $('main').css('font-size', curSize);
                }
            }); 
            
            $('#resetFont').click(function(){   
                    $('main').css('font-size', 14);
            }); 
            
            $('#decFont').click(function(){   
                curSize= parseInt($('main').css('font-size')) - 2;
                
                if(curSize>=12){
                    $('main').css('font-size', curSize);
                }
            }); 