include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        link(href='../javascript/libs/uform/uform.css', rel='stylesheet')
        link(href='../javascript/libs/morris/morris.css', rel='stylesheet')
        //- scripts
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-logged.pensiones.resumen
        include sections/header/200
        include sections/nav
        include sections/main/301
        include sections/footer
        include sections/snippets/scripts
        script(src='../javascript/libs/chart.js')
        script(src='../javascript/libs/morris/morris.js')
        script(src='../javascript/libs/morris/raphael.js')
        script(src='../javascript/libs/uform/uform.js')
        script.
            var mydata = [
                {
                    value: 20,
                    color : "#00275b",
                    label: "Hola mundo como estas???",
                },
                {
                    value : 77,
                    color: "#dedc1e",
                    label: "mundo"
                },
                {
                    value : 25,
                    color : "#b3bec6",
                    label: "ejemplo"
                },
                {
                    value: 44,
                    color : "#00a49e",
                    label: "labels!!"
                }
            ];

            var options = [
                {
                    tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %>"
                }
            ]

            $(document).ready(function() {
                var myPie = new Chart(document.getElementById("myChart").getContext("2d")).Pie(mydata, options);
            });


        //- script.
        //-     var options = {
        //-         scaleShowGridLines : true,
        //-         scaleBeginAtZero : false
        //-     };


        //-     var data = {
        //-         labels: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul"],
        //-         datasets: [
        //-             {
        //-                 label: "My First dataset",
        //-                 fillColor: "#00275b",
        //-                 color: "rgba(0,0,0,0,1)",
        //-                 data: [90, 90, 15, -17, -96, 0, -4]
        //-             }
        //-         ]
        //-     };

        //-     $(document).ready(function() {
        //-         var myBarChart = new Chart(document.getElementById("barChart").getContext("2d")).Bar(data, options);
        //-     });

        script.
 
            new Morris.Bar({
                    element: 'test',
                    data: [
                        { label: 'Ene', a: 0 },
                        { label: 'Feb', a: 0.1 },
                        { label: 'Mar', a: 0 },
                        { label: 'Abr', a: 0 },
                        { label: 'May', a: 0 },
                        { label: 'Jun', a: 0 },
                        { label: 'Jul', a: 0 },
                        { label: 'Ago', a: 0 },
                        { label: 'Sep', a: .3 },
                        { label: 'Oct', a: 1.02 },
                        { label: 'Nov', a: 0.24 },
                        { label: 'Dic', a: 0.5 },
                    ],
                    xkey: 'label',
                    ykeys: ['a'],
                    labels: [''],
                    barColors: [ '#00275b'],
                    hideHover: true,
                    xLabelAngle: 35
                });