include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        link(href='../javascript/libs/uform/uform.css', rel='stylesheet')
        //- scripts
        script(src='../javascript/libs/angular.min.js')
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-logged.pensiones
        include sections/header/200
        include sections/nav
        include sections/main/302
        include sections/footer
        include sections/snippets/scripts
        script(src='../javascript/libs/uform/uform.js')
        script.

            // Accordion tabset
            //- $('.tabset .summary').click(function(event){
            //-     abrirCuenta('.m-results', $(this));
            //-     event.preventDefault();
            //- });

            //- $('#abrirCuenta').click(function(event){
            //-     abrirCuenta('.m-results', '.m-results .c3');
            //-     event.preventDefault();
            //- });

            function tabClick(parent) {
                $(parent + '.tabset .summary').click(function(event){
                    abrirCuenta(parent, $(this));
                    event.preventDefault();
                });
            }

            //- tabClick('.m-results');

            function abrirCuenta(parent, obj) {
                if($(obj).hasClass("active")){
                    $(obj).removeClass('active');
                    $(obj).next('.details').fadeOut('slow');
                } else {
                    $(parent + '.tabset > .summary.active').removeClass('active');
                    $(parent + '.tabset > .summary').next('.details').hide();
                    $(obj).addClass('active');
                    $(obj).next('.details').fadeIn();
                }
            }

            //- function checkClass () {
            //-     //- alert('hello world');
            //-     $scope.isActive = !$scope.isActive;
            //- }

            function FunWithClassesCtrl($scope) {

                $scope.seleccionada = 1;
                $scope.datos = [
                    {'nombre': 'Abel', 'id': 1},
                    {'nombre': 'Rodrigo', 'id': 2}
                ];

                $scope.datos.forEach(function(dato){
                    if($scope.seleccionada === dato.id) dato.seleccionada = true;
                });

               $scope.abrirPestana = function (cuenta) {
                    switch(cuenta) {
                        case 'c1':
                            $scope.ac1 = !$scope.ac1;
                            break;
                            case 'c2':
                                $scope.ac1 = !$scope.ac1;
                            break;
                    }
                }
            }

            
