include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        link(href='../javascript/libs/uform/uform.css', rel='stylesheet')
        //- scripts
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-logged.pensiones
        include sections/header/200
        include sections/nav
        include sections/main/302
        include sections/footer
        include sections/snippets/scripts
        script(src='../javascript/libs/uform/uform.js')
        script.

            // Accordion tabset
            $('.tabset .summary').click(function(event){
                abrirCuenta('.m-results', $(this));
                event.preventDefault();
            });

            $('#abrirCuenta').click(function(event){
                abrirCuenta('.m-results', '.m-results .c3');
                event.preventDefault();
            });

            function abrirCuenta(parent, obj) {
                if($(obj).hasClass("active")){
                    $(obj).removeClass('active');
                    $(obj).next('.details').fadeOut('slow');
                } else {
                    $(parent + '.tabset > .summary.active').removeClass('active');
                    $(parent + '.tabset > .summary').next('.details').hide();
                    $(obj).addClass('active');
                    $(obj).next('.details').fadeIn();
                }
            }
