include sections/global/doctype
    head
        include sections/global/head
        include sections/global/routines
        //- stylesheets
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        link(href='../javascript/libs/uform/uform.css', rel='stylesheet')
        //- scripts
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-logged.fondos.resumen
        include sections/header/200
        include sections/nav
        include sections/main/401
        include sections/footer
        include sections/snippets/scripts
        script(src='../javascript/libs/uform/uform.js')