doctype html
html(lang="es")
    head
        title Index
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
        link(href='css/uno.css', rel='stylesheet')
        script(src='javascript/libs/jquery-1.11.1.min.js')
    body.uno.l-public
        include sections/main/000
        script(src='javascript/scripts.js')
