include _includes/doctype
    head
        include _includes/head
        include _includes/routines
        link(href='../fonts/FontAwesome/fonts/font-awesome.min.css', rel='stylesheet')
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        script(src='../javascript/modernizr.js')
        script(src='../javascript/modernizr.load.js')
    body.uno.l-public
        include sections/header
        include sections/nav
        include sections/main/100
        include sections/footer
        script(src='../javascript/scripts.js')
