!!! 5
html(lang="es")
    head
        title Index of
        meta(name='viewport', content='width=device-width, maximum-scale=1.0, user-scalable=no')
        link(href='../css/uno.css', rel='stylesheet')
        script(src='../javascript/libs/jquery-1.11.1.min.js')
        //- link(href='../javascript/libs/screenkeys/screenkeys.css', rel='stylesheet')
        //- script(src='../javascript/libs/screenkeys/screenkeys-1.0.1.min.js')
        //- script(src='../javascript/libs/screenkeys/locale/screenkeysloc_en_US.js')
        link(href='../javascript/libs/o-keyboard/o-keyboard.css', rel='stylesheet')
        script(src='../javascript/libs/o-keyboard/o-keyboard.js')
    body.uno.l-public
        include sections/main/001
        //- script
        //-     $(function() {
        //-         $("#screenBody2").screenKeys({container:$(".screenkeyboard2")});
        //-     });

        //-     $("input").keypress(function() {
        //-             return false;
        //-     });
        