script(src='../javascript/scripts.js')
script
    $('#incFont').click(function(){   
        curSize= parseInt($('main').css('font-size')) + 2;
        
        if(curSize<=18){
            $('main').css('font-size', curSize);
        }
    }); 
    
    $('#resetFont').click(function(){   
            $('main').css('font-size', 14);
    }); 
    
    $('#decFont').click(function(){   
        curSize= parseInt($('main').css('font-size')) - 2;
        
        if(curSize>=12){
            $('main').css('font-size', curSize);
        }
    }); 