mixin skeyboard
    strong Contraseñas:
    #container
        label
            //- input(id="write", type="text").keyboard
            input(id="write", type="text", readonly="readonly").keyboard
            //- div(id="write").keyboard.input
        .skeyboard.bottom.hide
            a(href="#").cerrar [Cerrar]
            ul.symbols.hide#myDiv
                li |
                li ¬
                li °
                li !
                li "
                li #
                li $
                li %
                li &
                li /
                li (
                li )
                li 
                    | =
                li ?
                li ¡
                li \
                li ¸
                li @
                li ł
                li €
                li ¶
                li#theValue 123
                li ŧ
                li ←
                li ↓
                li  →
                li ø
                li þ
                li ~
                li ł
                li ĸ
                li ŋ
                li đ
                li ðß
                li æ
                li |
                li <
                li «
                li »
                li ¢“
                li µ
                li ·̣̣

            ul.letters
                li.letter.first-row q
                li.letter w
                li.letter e
                li.letter r
                li.letter t
                li.letter y
                li.letter u
                li.letter i
                li.letter o
                li.letter p

                li.spacer2.first-row
                li.letter a
                li.letter s
                li.letter d
                li.letter f
                li.letter g
                li.letter h
                li.letter j
                li.letter k
                li.letter l

                li.spacer3.first-row
                li.letter z
                li.letter x
                li.letter c
                li.letter v
                li.letter b
                li.letter n
                li.letter m
                li.command.chars +=-

                li.spacer4.first-row
                li.command.delete Supr
                li.letter.space
                li.command.shift Shift
            
            ul.numbers
                li.symbol.first-row
                    span *
                    span.on.n1 1
                li.symbol
                    span *
                    span.on.n2 2
                li.symbol
                    span *
                    span.on.n3 3

                li.symbol.first-row
                    span *
                    span.on.n4 4
                li.symbol
                    span *
                    span.on.n5 5
                li.symbol
                    span *
                    span.on.n6 6

                li.symbol.first-row
                    span *
                    span.on.n7 7
                li.symbol
                    span *
                    span.on.n8 8
                li.symbol
                    span *
                    span.on.n9 9

                li.symbol.last
                    span *
                    span.on.n0 0