footer
    section.text-frame
        .m-legal.copy
            span.valores
                a(href='http://www.alianza.com.co/') Alianza fiduciaria
            span.sura
                a(href='#') Términos y condiciones
                |  | 
                a(href='#') Políticas de privacidad
            span.seven4n
                |  Powered by 
                a(href='http://s4n.co') Seven4n