header
    section.text-frame
        .m-brand
            h1
                a(href='../index.html')
                    img(src="images/logo-brand.png")
                    strong  Alianza
                    span  Valores
        .m-sidemenu
            a.toggle.js-navbar(href='#')
                i.fa.fa-bars
