nav
    section.text-frame
        .m-mainnav.navbar.primary.dropdown
            ul
                li
                    a(href="#").inicio Inicio
                li.subitems  
                    .title Inversiones
                    ul
                        li 
                            a(href="#").pensiones Pensiones
                        li 
                            a(href="#").fondos Fondos
                li
                    a(href="#").fideicomisos Fideicomisos
                    ul.subnav
                        li
                            a(href="#") Inscripciones
                        li
                            a(href="#") Transferencias
                        li
                            a(href="#") Retiros
                        li.separator
                            a(href="#") Programación de pagos
                        li
                            a(href="#") Pagos masivos
                        li.separator
                            a(href="#") Alianza express
                        li
                            a(href="#") Consulta de estados
                li
                    a(href="#").certificados Certificados
                li
                    a(href="#").transacciones Transacciones
