nav
    section.text-frame
        .m-mainnav
            ul.horizontal
                li
                    a(href="#").inicio Inicio
                li.subitems  
                    .title Inversiones
                    ul
                        li 
                            a(href="#").pensiones Pensiones
                        li 
                            a(href="#").fondos Fondos
                li
                    a(href="#").fideicomisos Fideicomisos
                li
                    a(href="#").certificados Certificados
                li
                    a(href="#").transacciones Transacciones
