nav
    section
        ul
            li
                a(href="#").inicio Inicio
            li
                a(href="#").fideicomisos Fideicomisos
            li
                a(href="#").pensiones Pensiones
            li
                a(href="#").fondos Fondos
            li
                a(href="#").certificados Certificados
            li
                a(href="#").transacciones Transacciones
