header
    section.text-frame
        .m-brand
            h1.brand.fiduciaria
                a(href='../index.html') 
                    img(src="../images/logo-fiduciaria.png")
                    strong  Alianza Fiduciaria
            h2.subhead.ng-binding Administración Portal Fiduciaria
            div.hide TEst