header
    section.text-frame
        .m-brand
            h1.brand.valores
                a(href='../index.html') 
                    img(src="../images/logo-valores.png")
                    strong  Alianza Fiduciaria
            