header
    section.text-frame
        .m-sidemenu
            a.toggle.js-navbar(href='#')
                i.fa.fa-bars
        .m-brand
            h1.brand.fiduciaria
                a(href='../index.html')
                    img(src="../images/logo-fiduciaria.png")
                    strong  Alianza Fiduciaria
        .m-user-group
            .options
                a(href="#", data-hint="Actualizar Datos").tooltip.left.primary
                    i.fa.fa-user
                a(href="#", data-hint="Cerrar Sesión").tooltip.left.primary
                    i.fa.fa-sign-out
            .option-box.hide
                a(href="#").to-left Actualizar datos
                .name Liliana Patricia Delgado
                .email liliana.delgado@gmail.com
                .button-group
                    button(type="button").button.primary.loose
                        i.fa.fa-signout
                        | Cerrar sesión
        .m-font-size
            a(href="#",id="decFont").fontsize A-
            a(href="#",id="resetFont").fontsize A
            a(href="#",id="incFont").fontsize A+