header
    section.text-frame
        .m-brand
            h1.brand.fiduciaria
                a(href='../index.html') 
                    img(src="../images/logo-aenlinea.png")
                    strong  Alianza en Línea
