<!DOCTYPE html><!--[if IE 8]>     <html lang="es" class="ie ie8"> <![endif]-->
<!--[if IE 9]>     <html lang="es" class="ie ie9"> <![endif]-->
<!--[if gt IE 9]>  <html lang="es"> <![endif]-->
<!--[if !IE]><!--> <html ng-app lang="es"> <!--<![endif]-->
<head>
  <title>Alianza Fiduciaria</title>
  <meta charset="utf-8">
  <meta name="author" content="Seven4n">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
  <link href="../images/favicon.ico" type="image/x-icon" rel="shortcut icon">
  <link href="../css/uno.css" rel="stylesheet">
  <link href="../fonts/FontAwesome/fonts/font-awesome.min.css" rel="stylesheet">
  <link href="../javascript/libs/picker/default.css" rel="stylesheet">
  <link href="../javascript/libs/picker/default.date.css" rel="stylesheet">
  <link href="../javascript/libs/uform/uform.css" rel="stylesheet">
  <script src="../javascript/libs/jquery-1.11.1.min.js"></script>
  <script src="../javascript/modernizr.js"></script>
  <script src="../javascript/modernizr.load.js"></script>
</head>
<body class="uno l-logged pensiones movimientos">
  <header>
    <section class="text-frame">
      <div class="m-sidemenu"><a href="#" class="toggle js-navbar"><i class="fa fa-bars"></i></a></div>
      <div class="m-brand">
        <h1 class="brand fiduciaria"><a href="../index.html"><img src="../images/logo-fiduciaria.png"><strong> Alianza Fiduciaria</strong></a></h1>
      </div>
      <div class="m-user-group">
        <div class="options"><a href="#" data-hint="Actualizar IPs válidas" class="tooltip left primary"><i class="fa fa-filter"></i></a><a href="#" data-hint="Cambiar Contraseña" class="tooltip left primary"><i class="fa fa-lock"></i></a><a href="#" data-hint="Cerrar Sesión" class="tooltip left primary"><i class="fa fa-sign-out"></i></a></div>
        <div class="option-box hide"><a href="#" class="to-left">Actualizar datos</a>
          <div class="name">Liliana Patricia Delgado</div>
          <div class="email">liliana.delgado@gmail.com</div>
          <div class="button-group">
            <button type="button" class="button primary loose"><i class="fa fa-signout"></i>Cerrar sesión</button>
          </div>
        </div>
      </div>
      <div class="m-font-size"><a href="#" id="decFont" class="fontsize">A-</a><a href="#" id="resetFont" class="fontsize">A</a><a href="#" id="incFont" class="fontsize">A+</a></div>
    </section>
  </header>
  <nav>
    <section class="text-frame">
      <div class="m-mainnav navbar primary dropdown">
        <ul>
          <li><a href="#" class="inicio">Inicio</a></li>
          <li class="subitems"> 
            <div class="title">Inversiones</div>
            <ul>
              <li> <a href="#" class="pensiones">Pensiones</a></li>
              <li> <a href="#" class="fondos">Fondos</a></li>
            </ul>
          </li>
          <li><a href="#" class="fideicomisos">Fideicomisos</a>
            <ul class="subnav">
              <li><a href="#">Inscripciones</a></li>
              <li><a href="#">Transferencias</a></li>
              <li><a href="#">Retiros</a></li>
              <li class="separator"><a href="#">Programación de pagos</a></li>
              <li><a href="#">Pagos masivos</a></li>
              <li class="separator"><a href="#">Alianza express</a></li>
              <li><a href="#">Consulta de estados</a></li>
            </ul>
          </li>
          <li><a href="#" class="certificados">Certificados</a></li>
          <li><a href="#" class="transacciones">Transacciones</a></li>
        </ul>
      </div>
    </section>
  </nav>
  <main>
    <div class="c-nav">
      <div class="text-frame form selection">
        <div class="m-subnav">
          <ul>
            <li class="resumen"><a href="#">Resúmen</a></li>
            <li class="movimientos"><a href="#">Movimientos</a></li>
            <li class="extractos"><a href="#">Extractos</a></li>
            <li class="saldos"><a href="#">Saldos históricos</a></li>
          </ul>
        </div>
      </div>
    </div>
    <section class="text-frame">
      <div class="panel primary full">
        <h1 class="heading primary">Movimientossss</h1>
        <form class="form filters">
          <ul class="grid split-2 separate">
            <li><strong>Periodo:</strong>
              <div class="grid split-2 separate">
                <div>
                  <input type="text" class="datepicker"><span>Desde</span>
                </div>
                <div>
                  <input type="text" class="datepicker"><span>Hasta</span>
                </div>
              </div>
            </li>
            <li><strong>Tipo de operación:</strong>
              <div>
                <label>
                  <select>
                    <option>Algunos</option>
                    <option selected>Todos</option>
                    <option>Ninguno</option>
                  </select>
                </label>
              </div>
            </li>
          </ul>
          <ul class="grid split-2 separate">
            <li><strong>Valor:</strong>
              <div>
                <label>
                  <input type="text">
                </label>
              </div>
            </li>
            <li><strong> Cuenta<em> (*)</em>:</strong>
              <div>
                <label>
                  <select>
                    <option>Cuenta 0001</option>
                    <option selected>Cuenta 0002</option>
                    <option>Cuenta 0003</option>
                  </select>
                </label>
              </div>
            </li>
          </ul>
          <div class="button-group">
            <button type="button" class="button primary">Consultar</button>
          </div>
        </form>
        <div class="m-results">
          <div class="scrollable">
            <table class="table single striped">
              <thead>
                <tr>
                  <th>Fecha transacción</th>
                  <th>Tipo de operación</th>
                  <th>Subcuenta</th>
                  <th>Concepto</th>
                  <th>Valor en pesos</th>
                  <th>Nombre beneficiario</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10/12/2014</td>
                  <td>Crédito</td>
                  <td>1</td>
                  <td>Retiro inversionista fondos</td>
                  <td>0</td>
                  <td>Melisa Morales</td>
                  <td><a href="#" class="link-popup">Detalles</a></td>
                </tr>
                <tr>
                  <td>10/12/2014</td>
                  <td>Crédito</td>
                  <td>1</td>
                  <td>Retención contingente</td>
                  <td>500.000</td>
                  <td>Melisa Morales</td>
                  <td><a href="#" class="link-popup">Detalles</a></td>
                </tr>
                <tr>
                  <td>10/12/2014</td>
                  <td>Crédito</td>
                  <td>1</td>
                  <td>Retiro inversionista fondos</td>
                  <td>0</td>
                  <td>Melisa Morales</td>
                  <td><a href="#" class="link-popup">Detalles</a></td>
                </tr>
                <tr>
                  <td>10/12/2014</td>
                  <td>Crédito</td>
                  <td>1</td>
                  <td>Recaudo aportes fondos</td>
                  <td>0</td>
                  <td>Melisa Morales</td>
                  <td><a href="#" class="link-popup">Detalles</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="grid split-2">
            <div class="sidenote text-left">
              <p>(*) Indica campo obligatorio</p>
            </div>
            <div class="fileformat text-right">Guardar como: <a href="#"> Excel</a> | <a href="#">PDF </a></div>
          </div>
        </div>
      </div>
    </section>
    <div class="modals hidepopup2 active2 hide">
      <div class="overlay"></div>
      <div class="contents">
        <h2 class="heading primary">Detalle</h2>
        <div class="form primary scroll-y">
          <ul>
            <li><strong>Tipo de operación:</strong>
              <div>Retiro</div>
            </li>
            <li><strong>Fecha:</strong>
              <div>14/12/2014</div>
            </li>
            <li><strong>Aporte:</strong>
              <div>150.000.000</div>
            </li>
            <li><strong>Valor:</strong>
              <div>150.000.000</div>
            </li>
            <li><strong>Retención de rendimientos:</strong>
              <div>20.000.000</div>
            </li>
            <li><strong>Retención de contingente:</strong>
              <div>15.000.000</div>
            </li>
          </ul>
        </div>
        <div class="button-group">
          <button type="button" class="button primary btn-close">Cerrar</button>
        </div>
      </div>
    </div>
    <div class="modals dynamic hidepopup hide">
      <div class="popup active">
        <div class="overlay"></div>
        <div class="contents">
          <h2 class="heading primary ng-binding">Resumen de permisos</h2><strong>Nombre de agente:  </strong>
          <input type="text" ng-style="estiloSombreado" ng-readonly="true" ng-disabled="true" ng-model="agente.nombreUsuario" readonly="readonly" disabled="disabled" class="ng-pristine ng-valid">
          <div class="scroll-y">
            <div class="message primary info js-close">
              <p>El agente empresarial aún no tiene permisos asignados</p>
            </div>
          </div>
        </div>
        <div class="contents hide">
          <h2 class="heading primary ng-binding">Resumen de permisos</h2><strong>Nombre de agente: </strong>
          <input type="text" ng-style="estiloSombreado" ng-readonly="true" ng-disabled="true" ng-model="agente.nombreUsuario" readonly="readonly" disabled="disabled" class="ng-pristine ng-valid">
          <div class="scroll-y">
            <div class="panel aside">
              <div ng-repeat="encargo in encargosResumen" class="permisos ng-scope"><strong class="ng-binding">10020007558               </strong>
                <ul>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Inscripci&oacute;n</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Pagos masivos</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Transferencias y retiros</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Consulta</p>
                  </li>
                </ul>
              </div>
              <div ng-repeat="encargo in encargosResumen" class="permisos ng-scope"><strong class="ng-binding">45030000007              </strong>
                <ul>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Consulta</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Inscripci&oacute;n</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Transferencias y retiros</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Pagos masivos</p>
                  </li>
                </ul>
              </div>
              <div ng-repeat="encargo in encargosResumen" class="permisos ng-scope"><strong class="ng-binding">95030000012                  </strong>
                <ul>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Consulta</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Inscripci&oacute;n</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Transferencias y retiros</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Pagos masivos</p>
                  </li>
                </ul>
              </div>
              <div ng-repeat="encargo in encargosResumen" class="permisos ng-scope"><strong class="ng-binding">10020007590                   </strong>
                <ul>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Pagos masivos</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Inscripci&oacute;n</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Transferencias y retiros</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Consulta</p>
                  </li>
                </ul>
              </div>
              <div ng-repeat="encargo in encargosResumen" class="permisos ng-scope"><strong class="ng-binding">58020000001              </strong>
                <ul>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Consulta</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Transferencias y retiros</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Inscripci&oacute;n</p>
                  </li>
                  <li ng-repeat="permiso in encargo.permisos" class="ng-scope">
                    <p class="ng-binding">Pagos masivos</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="button-group">
            <button ng-click="resumenPermisosVisible = false; cerrar()" type="button" class="button primary btn-close">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <section class="text-frame">
      <div class="m-legal copy"><span class="valores"><a href="http://www.alianza.com.co/">Alianza fiduciaria</a></span><span class="sura"><a href="#">Términos y condiciones</a> | <a href="#">Políticas de privacidad</a></span><span class="seven4n"> Powered by <a href="http://s4n.co">Seven4n</a></span></div>
    </section>
  </footer>
  <script src="../javascript/scripts.js"></script>
  <script>
    $('#incFont').click(function(){   
        curSize= parseInt($('main').css('font-size')) + 2;
        
        if(curSize<=18){
            $('main').css('font-size', curSize);
        }
    }); 
    
    $('#resetFont').click(function(){   
            $('main').css('font-size', 14);
    }); 
    
    $('#decFont').click(function(){   
        curSize= parseInt($('main').css('font-size')) - 2;
        
        if(curSize>=12){
            $('main').css('font-size', curSize);
        }
    }); 
  </script>
  <script src="../javascript/libs/picker/picker.js"></script>
  <script src="../javascript/libs/picker/picker.date.js"></script>
  <script src="../javascript/libs/uform/uform.js"></script>
  <script>
    jQuery.extend(jQuery.fn.pickadate.defaults, {
        monthsFull: [ 'enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre' ],
        monthsShort: [ 'ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic' ],
        weekdaysFull: [ 'domingo', 'lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado' ],
        weekdaysShort: [ 'dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb' ],
        today: 'hoy',
        clear: 'borrar',
        firstDay: 1,
        format: 'd !de mmmm !de yyyy',
        formatSubmit: 'yyyy/mm/dd'
    });
    
    $('.datepicker').pickadate({
        selectMonths: true,
        selectYears: true
    });
  </script>
  <script>
    $('.link-popup').on('click', function(event) {
        $('.modals > .popup .contents').addClass('animate fadeIn'); //1
        $('.modals').show(); //2
        //- });
    
        event.preventDefault();
    });
    
    $('.modals .btn-close, .modals .overlay').on('click', function(event) {
        $('.modals > .popup .contents').removeClass('animate fadeIn');
        $('.modals').hide();
    
        event.preventDefault();
    });
  </script>
</body>