main
    section.text-frame
        h1.heading.primary / development / webapp /
        .scrollable
            table.table.primary.horizontal
                thead
                    tr
                        th.tleft Página
                        th.tleft Notas
                tbody
                    tr
                        td.tleft
                            a(href='html/100 ingreso.html') 100 ingreso.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/101 registro.html') 101 registro.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/102 cuestionario.html') 102 cuestionario.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/103 cambiar_contrasena.html') 103 cambiar_contrasena.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/104 exito.html') 104 exito.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/105_oldbrowser.html') 105_oldbrowser.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/110_valores.html') 110_valores.html
                        td.tleft
                    tr.prev
                        td.tleft
                            a(href='html/111_valores_detalle.html') 111_valores_detalle.html
                        td.tleft
                    tr.new
                        td.tleft
                            a(href='html/112_valores_cartera.html') 112_valores_cartera.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/200 inicio.html') 200 inicio.html
                        td.tleft Último ingreso --
                    tr
                        td.tleft
                            a(href='html/200b_inicio.html') 200b_inicio.html
                        td.tleft Ejemplos de mensajes
                    tr
                        td.tleft
                            a(href='html/201_fideicomiso_resumen.html') 201_fideicomiso_resumen.html
                        td.tleft - Spring 2 -
                    tr
                        td.tleft
                            a(href='html/301_pensiones_resumen.html') 301_pensiones_resumen.html
                        td.tleft + Rentabilidad mensual
                    tr
                        td.tleft
                            a(href='html/302_pensiones_resumen_detalle.html') 302_pensiones_resumen_detalle.html
                        td.tleft script embebido // Accordion tabset
                    tr
                        td.tleft
                            a(href='html/303_pensiones_movimientos_persona.html') 303_pensiones_movimientos_persona.html
                        td.tleft Popup detalles
                    tr
                        td.tleft
                            a(href='html/304_pensiones_extractos.html') 304_pensiones_extractos.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/305_pensiones_saldos.html') 305_pensiones_saldos.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/401_fondos_resumen.html') 401_fondos_resumen.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/402_fondos_resumen_detalle.html') 402_fondos_resumen_detalle.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/402_fondos_resumen_detalle-b.html') 402_fondos_resumen_detalle-b.html
                        td.tleft Ventanas modales
                    tr
                        td.tleft
                            a(href='html/403_fondos_movimientos.html') 403_fondos_movimientos.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/701_parametros_contrasena.html') 701_parametros_contrasena.html
                        td.tleft
                    tr
                        td.tleft
                            a(href='html/800_admin.html') 800_admin.html
                        td.tleft
        div.hide
            ul
                li Nuevo/ Actualización
                liio
        div
            h2 Referencias (js)
            ul.disc
                li
                    | Datepicker
                    a(href="http://amsul.ca/pickadate.js/")  [ pickadate.js ]
                li
                  s Formularios [Uforms.js]
                li
                  | Gráficas
                  a(href="http://www.chartjs.org/")  [ Charts.js ]
                li
                  | Detector de HTML5 y CSS3
                  a(href="http://modernizr.com/")  [ Modernizr ]
                li
                    s Notificaciones
                    s 
                        a(href="http://ned.im/noty/")  [ noty.js ]
                li
                  | Paginador
                  a(href="https://datatables.net/")  [ DataTables ]
                li
                  | Teclado en pantalla
                  a(href="http://code.tutsplus.com/tutorials/creating-a-keyboard-with-css-and-jquery--net-5774")  [ CSS and jQuery keyboard ]
                li
                    | Librería personalizada
                    a(href="javascript/scripts.js")  [ Scripts.js ]
                    ul.indent
                        li "Close Button" Agrega un botón de cerrar en los mensajes de alerta.
                        li "Offside Canvas" Muestra el menú para mobiles.
                        li "Show Popup" Muestra el popup de cerrar sesión.
                        li "Sticky Footer" Pega el footer abajo de la ventana.
                        li "Table Rows" Agrega la clase 'odd' a las filas impares.

                p &nbsp;