main
    section.text-frame
        h1.heading.primary / development / webapp /
        .scrollable
            table.table.primary.horizontal
                thead
                    tr
                        th.tleft Página
                        th.tleft Notas
                tbody
                  tr
                      td.tleft
                          a(href='html/100 ingreso.html') 100 ingreso.html
                      td.tleft
                  tr
                      td.tleft
                          a(href='html/101 registro.html') 101 registro.html
                      td.tleft
                  tr
                      td.tleft
                          a(href='html/102 cuestionario.html') 102 cuestionario.html
                      td.tleft
                  tr
                      td.tleft
                          a(href='html/103 cambiar_contrasena.html') 103 cambiar_contrasena.html
                      td.tleft
                  tr
                      td.tleft
                          a(href='html/200 inicio.html') 200 inicio.html
                      td.tleft
            div.hide
                h2 Por hacer
                ul.disc
                    li lipsum
