main
    section.text-frame
        h1.heading.primary Cuestionario
        .panel.padded
            .message.primary.info.js-close.span-3
                p Usted no aparece registrado como cliente de Alianza lo invitamos a que se comunique con nuestro call center 
                    strong 6447700 
                    |  Fiduciaria y 
                    strong 6447730 
                    |  Valores
            .form.primary
                ul
                    li
                        strong 1. ¿Usted tiene o ha tenido productos con la entidad bancaria XXX?:
                        div
                            label
                                input(type="radio", name="group1")
                                span Uno
                            label
                                input(type="radio", name="group1")
                                span Dos
                            label
                                input(type="radio", name="group1")
                                span Tres

                    li
                        strong 2. ¿Usted tiene o ha tenido productos con la entidad bancaria XXX?:
                        div
                            label
                                input(type="radio", name="group2")
                                span Uno
                            label
                                input(type="radio", name="group2")
                                span Dos
                            label
                                input(type="radio", name="group2")
                                span Tres

                    li
                        strong 3. ¿Usted tiene o ha tenido productos con la entidad bancaria XXX?:
                        div
                            label
                                input(type="radio", name="group3")
                                span Uno
                            label
                                input(type="radio", name="group3")
                                span Dos
                            label
                                input(type="radio", name="group3")
                                span Tres
                .button-group
                    button(type="submit").button.primary Confirmar
