main
    section.text-frame
        .panel.primary.warning
            h1.heading.primary.
                Actualice su explorador
            p.
                La versión de su navegador no es soportada por este sistema.