
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.saldos
                        a(href="#") Saldos históricos
    section.text-frame
        .panel.primary.full
            .breadcrumb.primary
                ul
                    li
                        a(href="#") Pensiones
                    li
                        a(href="#") Resúmen
                    li 
                        span Detalles
            .m-results.tabset.accordion.primary
                h2.summary Alianza AA 90
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Encargo
                                th Saldo Disponible
                                th Saldo Total
                        tbody
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                        tfoot
                            tr
                                td Total
                                td $3.000.000
                                td $1.500.000
                h2.summary.active Alianza Valores Acciones
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Encargo
                                th Saldo Disponible
                                th Saldo Total
                        tbody
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                            tr
                                td Encargo 1
                                td $1.000.000
                                td $500.000
                        tfoot
                            tr
                                td Total
                                td $3.000.000
                                td $1.500.000