main
    section.text-frame
        h1.heading.primary Bienvenido XXX
        .grid.split-2
            div
                .panel.recap
                    .top-bar
                        .subhead 
                            i.fa.fa-book
                            |  Fondos
                        .balances
                            strong Saldo
                            div $1'650.000.000.00
                    ul.overview
                        li
                            .title
                                strong Fondo abierto con pacto de permanencia CxC
                                div id 01234567890
                            .value
                                strong $950.000.000.00
                                div 
                                    a(href="#") Detalle
                        li
                            .title
                                strong Fondo abierto alianza
                                div id 01234567890
                            .value
                                strong $700.000.000.00
                                div 
                                    a(href="#") Detalle
                .panel.recap
                    .top-bar
                        .subhead 
                            i.fa.fa-book
                            |  Fideicomisos
                        .balances
                            strong Saldo
                            div $$$
                    ul.overview
                        li
                            .title
                                strong Karivana Vista Golf
                                div 
                                    | id 01234567890 /
                                    a(href="#") Personalizar
                            .value
                                div
                                    a(href="#") Detalle
                        li
                            .title
                                strong Conjunto residencial San Mateo
                                div id 01234567890
                            .value
                                div 
                                    a(href="#") Detalle
                        li
                            .title
                                strong Urbanización quintas del paraiso
                                div id 01234567890
                            .value
                                div 
                                    a(href="#") Detalle
                .panel.recap
                .top-bar
                    .subhead 
                        i.fa.fa-book
                        |  Pensiones
                    .balances
                        strong Saldo
                        div $$$
                ul.overview
                    li
                        .title
                            strong Pensiones
                            div 
                                | id 01234567890 /
                                a(href="#") Personalizar
                        .value
                            strong Pensiones voluntarias
                            div
                                a(href="#") Detalle
            div Charts.JS