
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.informes
                        a(href="#") Informes
    section.text-frame
        .panel.primary.full
            .m-fideicomisos
                strong Fideicomisos:
                label.auto
                    select
                        option Proyecto Urbanización quintas del paraiso - ID 001200
                        option Karivana Vista Golf - ID 0123456789
                        option Conjunto residencial San Mateo - ID 0123456786
                        option Urbanización quintas del paraiso - ID 0123456782
            h1.heading.base Proyecto Urbanización quintas del paraiso - ID 001200
                a(href="#") Personalizar
            .m-resumen
                ul
                    li
                        strong Fideicomitentes:
                        .scrollable
                            table.table.summary
                                thead
                                    tr 
                                        th Fideicomitentes
                                        th Nombre
                                        th Participación
                                tbody
                                    tr 
                                        td 8.123.456.789
                                        td Victor Raúl
                                        td 25%
                    li
                        strong Description:
                        div
                            p Es un proyecto inmobiliario de vivienda denominado “Urbanización quintas del paraiso”, que LOS BENEFICIARIOS adelantarán por su exclusiva cuenta y riesgo sobre EL INMUEBLE, en 4 etapas, cada una de una torre de aproximadamente 182 apartamentos, para un total aproximado de 728 apartamentos, parqueaderos y demás áreas y servicios comunes.
                    li 
                        strong Beneficiarios:
                        .scrollable
                            table.table.summary
                                thead
                                    tr 
                                        th Identificación
                                        th Unegocio
                                        th Participación
                                tbody
                                    tr 
                                        td 8.123.456.789
                                        td Victor Raúl
                                        td 25%
                                    tr 
                                        td 80.123.456
                                        td Acuarelas de San Diego
                                        td 50%
                                    tr 
                                        td 890.123.456
                                        td Alba Eliana Quintero García
                                        td 25%
                    li 
                        strong Bienes:
                        .scrollable
                            table.table.summary
                                thead
                                    tr 
                                        th Nombre
                                        th Descripción
                                        th Valor
                                tbody
                                    tr 
                                        td --
                                        td --
                                        td --
                                    tr 
                                        td --
                                        td --
                                        td --
                    li 
                        strong Acreedores:
                        .scrollable
                            table.table.summary
                                thead
                                    tr 
                                        th Banco
                                        th Tipo
                                tbody
                                    tr 
                                        td Pichincha
                                        td Vinculado
                                    tr 
                                        td Santander
                                        td Vinculado
                                    tr 
                                        td Helm
                                        td Garantizado
