
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.saldos
                        a(href="#") Saldos históricos
    section.text-frame
        .panel.primary.full
            form.form.filters
                ul
                    li
                        strong Cuenta:
                        div
                            label.auto
                                select
                                    option Cuenta 00001
                                    option(selected) Cuenta 00002
                                    option Cuenta 00003
            .m-results
                h2 
                    i.fa.fa-book
                    | Cuenta 00002
                .scrollable
                    table.table.single.striped
                          thead
                            tr
                              th.fecha Tipo Titulo
                              th Fecha Emisión
                              th.cell-large Fecha de vencimiento
                              th Modalidad de pago
                              th Nominal
                              th Valor de compra
                              th Valor de mercado
                              th TIR Compra
                              th TIR Valoración
                              th NULL
                          tbody
                            // ngRepeat: rentaFija in detalleRentaFija
                            tr.ng-scope
                              td.ng-binding BANCOLOMBIA
                              td.ng-binding Certificados de Depósito a Término
                              td.ng-binding 13 octubre 2011
                              td.ng-binding 13 octubre 2018
                              td.ng-binding TRIMESTRE VENCIDO
                              td.ng-binding $500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td.ng-binding 0.00%
                              td.ng-binding 0.00%
                            // end ngRepeat: rentaFija in detalleRentaFija
                            tr.ng-scope(ng-repeat='rentaFija in detalleRentaFija')
                              td.ng-binding BCO. CORPBANCA
                              td.ng-binding Certificados de Depósito a Término
                              td.ng-binding 4 diciembre 2007
                              td.ng-binding 4 diciembre 2014
                              td.ng-binding TRIMESTRE VENCIDO
                              td.ng-binding $500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td.ng-binding 0.00%
                              td.ng-binding 0.00%
                            // end ngRepeat: rentaFija in detalleRentaFija
                            tr.ng-scope(ng-repeat='rentaFija in detalleRentaFija')
                              td.ng-binding BCO. DE OCCIDENTE
                              td.ng-binding Bonos emitidos por entidades vigiladas por la Superintendencia Financiera
                              td.ng-binding 21 noviembre 2013
                              td.ng-binding 21 noviembre 2015
                              td.ng-binding MES VENCIDO
                              td.ng-binding $500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td.ng-binding 0.00%
                              td.ng-binding 0.00%
                            // end ngRepeat: rentaFija in detalleRentaFija
                            tr.ng-scope(ng-repeat='rentaFija in detalleRentaFija')
                              td.ng-binding BCO. POPULAR
                              td.ng-binding Bonos emitidos por entidades vigiladas por la Superintendencia Financiera
                              td.ng-binding 24 julio 2008
                              td.ng-binding 24 julio 2015
                              td.ng-binding TRIMESTRE VENCIDO
                              td.ng-binding $500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td.ng-binding 0.00%
                              td.ng-binding 0.00%
                            // end ngRepeat: rentaFija in detalleRentaFija
                            tr.ng-scope(ng-repeat='rentaFija in detalleRentaFija')
                              td.ng-binding FINDETER
                              td.ng-binding Certificados de Depósito a Término
                              td.ng-binding 17 julio 2012
                              td.ng-binding 17 julio 2015
                              td.ng-binding TRIMESTRE VENCIDO
                              td.ng-binding $500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td.ng-binding 0.00%
                              td.ng-binding 0.00%
                            // end ngRepeat: rentaFija in detalleRentaFija
                          tfoot
                            tr
                              td(colspan='5') Total
                              td.ng-binding $2,500,000,000.00
                              td.ng-binding $0.00
                              td.ng-binding $0.00
                              td(colspan="2")
                .scrollable
                    table.table.single.striped
                        thead
                            tr
                                th Subcuenta
                                th Saldo inicio día
                                th Opción de inversión
                                th Retención contingente
                                th Retención sobre rendimientos
                                th Rendimientos
                                th Consolidado
                                th 
                        tbody
                            tr
                                td 
                                    a(href="#") Personalizar
                                td $11'000.000
                                td 1
                                td 500.000
                                td 500.000
                                td 500.000
                                td 10%
                                td
                                    a(href="#") Detalle
                            tr
                                td 
                                    a(href="#") Personalizar
                                td $11'000.000
                                td 2
                                td 500.000
                                td 500.000
                                td 500.000
                                td 10%
                                td
                                    a(href="#") Detalle
                            tr
                                td 
                                    a(href="#") Personalizar
                                td $11'000.000
                                td 3
                                td 500.000
                                td 500.000
                                td 500.000
                                td 10%
                                td
                                    a(href="#") Detalle
                            tr
                                td 
                                    a(href="#") Personalizar
                                td $11'000.000
                                td 4
                                td 500.000
                                td 500.000
                                td 500.000
                                td 10%
                                td
                                    a(href="#") Detalle
                .grid.split-2.separate
                    .panel.graphs
                        h3 Composicion de cuenta por inversión
                        canvas(id="myChart", width="240", height="240").canvas
                        ul.color-codes
                            li
                                span.var1
                                | Cuenta 0001
                            li
                                span.var2
                                | Cuenta 0002
                            li
                                span.var3
                                | Cuenta 0003
                            li
                                span.var3
                                | Cuenta 0004
                    .panel.graphs
                        h3 Rentabilidad mensual
                        div#test(style='height: 240px; width: 360px')
                        ul.color-codes
                            li
                                span.var1
                                | Rendimientos
