
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.certificados
                        a(href="#") Certificados
                    li.transacciones
                        a(href="#") Transacciones
    section.text-frame
        .panel.primary.full
            form.form.filters
                ul
                    li
                        strong SubCuenta:
                        div
                            label.auto
                                select
                                    option Subcuenta 0001 - Mifondo
                                    option(selected) Subcuenta 0002 - Mifondo
                                    option Subcuenta 0003 - Mifondo
            .m-results.tabset.accordion.primary
                h2.summary Cuenta 00001
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                h2.summary.active Cuenta 00002
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                h2.summary Cuenta 00003
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                h2.summary Cuenta 00004
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000