
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.saldos
                        a(href="#") Saldos históricos
    section.text-frame
        .panel.primary.full
            .breadcrumb.primary
                ul
                    li
                        a(href="#") Pensiones
                    li
                        a(href="#") Resúmen
                    li 
                        span Detalles
            //- form.form.filters
            //-     ul
            //-         li
            //-             strong SubCuenta:
            //-             div
            //-                 label.auto
            //-                     select
            //-                         option Subcuenta 0001 - Mifondo
            //-                         option(selected) Subcuenta 0002 - Mifondo
            //-                         option Subcuenta 0003 - Mifondo
            div.grid.split-2
                h2 Hola mundo
                div.form.primary.horizontal
                    ul  
                        li
                            strong Cuenta:
                            div
                                label
                                    select
                                        option 00001
                                        option 00002
                                        option 00003
            .m-results.tabset.accordion.primary
                h2.summary 
                    | Cuenta 00001
                    div.disponible
                        span Disponible
                        strong $66.000.000
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                                th Ganancia
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-down
                                    | 15%
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-up
                                    | 15%
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-up
                                    | 15%
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $151
                                td 
                                    i.fa.fa-sort-down
                                    | 15%
                h2.summary.active Cuenta 00002
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                                th Ganancia
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-down
                                    | 14%
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-up
                                    | 14%
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-up
                                    | 14%
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                                td 
                                    i.fa.fa-sort-down
                                    | 14%
                div.convenciones
                    .plus
                        i.fa.fa-sort-up 
                        | Utilidades
                    .minus
                        i.fa.fa-sort-down 
                        | Perdidas
                h2.summary.c3 Cuenta 00003
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                h2.summary Cuenta 00004
                .scrollable.details
                    table.table.single.striped
                        thead
                            tr
                                th Fecha de inversión
                                th Opción
                                th Valor inicial
                                th Rendimientos
                                th Retención contingente
                                th Saldo
                        tbody
                            tr
                                td 13/06/14
                                td Ecopetrol
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Avianca
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td CDT
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
                            tr
                                td 13/06/14
                                td Cámara
                                td 11.000.000
                                td 500.000
                                td 500.000
                                td $150.000
            .button-group
                a(href="#", id="abrirCuenta").cuenta2 Abrir Cuenta!!