main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.saldos
                        a(href="#") Saldos históricos
    section.text-frame
        .panel.primary.full
            h1.heading.primary Saldos históricos
            form.form.filters
                ul
                    li
                        strong Seleccione dos opciones únicamente:
                        .grid.split-4.separate
                            label
                                input(type="checkbox")
                                span Subcuenta
                            label
                                input(type="checkbox")
                                span Opción de inversión
                            label
                                input(type="checkbox")
                                span Aporte
                ul
                    li
                        strong Subcuenta:
                        div
                            label
                                select
                                    option Algunos
                                    option(selected) Todos
                                    option Ninguno
                ul.grid.split-2.separate
                    li
                        strong Opción de inversión:
                        div
                            label
                                select
                                    option Algunos
                                    option(selected) Todos
                                    option Ninguno
                    li
                        strong Periodo:
                        .grid.split-2.separate
                            div
                                input(type="text").datepicker
                                span Desde
                            div
                                input(type="text").datepicker
                                span Hasta
                .button-group
                    button(type="button").button.primary Consultar
            .m-results
                .scrollable
                    table(id="dataTable").table.single.striped.smaller
                        thead
                            tr
                                th Fecha
                                th Subcuenta
                                th Opción de inversión
                                th Saldo inicio día
                                th Aportes día
                                th Retiros del día
                                th Retención sobre rendimientos
                                th Retención contingente
                                th Rendimientos
                                th Comisión aplicada
                        tbody
                            mixin various 
                                mixin tbody(1, ['13/06/14', '1', 'Ecopetrol', '11.000.000', '1.000.000', '0', '0', '0', '0', '0'])
                                mixin tbody(1, ['13/06/14', '1', 'Avianca', '11.000.000', '1.000.000', '0', '0', '0', '0', '0'])
                                mixin tbody(1, ['13/06/14', '1', 'Bancolombia', '11.000.000', '1.000.000', '0', '0', '0', '0', '0'])
                            mixin various
                            mixin various
                            mixin various
                            mixin various
                            mixin various
                            mixin various
                            mixin various
                .fileformat.text-right
                    | Guardar como: 
                    a(href="#")  Excel
                    |  | 
                    a(href="#") PDF 