
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.certificados
                        a(href="#") Certificados
                    li.transacciones
                        a(href="#") Transacciones
    section.text-frame
        .panel.primary.full
            form.form.filters
                ul
                    li
                        strong Seleccionar fondo:
                        div
                            label.auto
                                select
                                    option Todos
                                    option(selected) Fondo abierto con pacto de permanencia CxC
                                    option Fondo abierto Alianza
            .m-results
                h2 
                    i.fa.fa-suitcase
                    | Fondo abierto con pacto de permanencia CxC
                .scrollable
                    table.table.single.striped
                        thead
                            tr
                                th Encargo
                                th Saldo disponible
                                th Saldo en canje
                                th Saldo total
                                th 
                        tbody
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="#") Saldos históricos
                            tr
                                td Encargo 1
                                td $5'000.000
                                td $5'000.000
                                td $16'000.000
                                td
                                    a(href="402_fondos_resumen_detalle.html") Saldos históricos