
main
    .c-nav
        .text-frame.form.selection
            .m-subnav
                ul
                    li.resumen
                        a(href="#") Resúmen
                    li.movimientos
                        a(href="#") Movimientos
                    li.extractos
                        a(href="#") Extractos
                    li.certificados
                        a(href="#") Certificados
                    li.transacciones
                        a(href="#") Transacciones
    section.text-frame
        .panel.primary.full
            h1.heading.primary Ventanas modales
            .button-group.align.left
                button(type="button", id="cargando").button.primary Cargando
                button(type="button", id="estado").button.primary Estado
.modals
    .loader.hide
        .overlay
        .contents
    .status.active
        .overlay
        .contents
            .text-frame
                h2 Ocurrio un error
                p Ocurrio un error ejecutando su solicitud. Porfavor intentelo nuevamente.
                p
                    | En caso de persistir el error porfavor comuniquese con nuestro call center 
                    strong 6447700
                    |  Fiduciaria y 
                    strong 6447730 
                    | Valores indicando el código de error 5xx.x
                p.small 10 de Julio de 2014, 2:35 PM
                .button-group
                    button(type="button").button.reverse.btn-close Continuar
