main
    section.text-frame
        h1.heading.primary Registro de direcciones IP
        .panel.padded-medium
            form.form.filters.horizontal
                ul
                    li
                        strong Nueva dirección IP
                        div
                            label
                                input(type="text")
            .button-group
                button(type="submit").button.primary Agregar dirección
            h2 Listado IP's
            .scrollable
                table.table.summary.wide
                    thead
                        tr 
                            th Direción IP
                            th.options.text-right Opciones
                    tbody 
                        tr  
                            td 127.0.0.1
                            td.text-right
                                a(href="#") 
                                    i.fa.fa-delete 
                                    | Eliminar
                        tr  
                            td 127.0.0.1
                            td.text-right
                                a(href="#") 
                                    i.fa.fa-delete 
                                    | Eliminar
                        tr  
                            td 127.0.0.1
                            td.text-right
                                a(href="#") 
                                    i.fa.fa-delete 
                                    | Eliminar
                        tr  
                            td 127.0.0.1
                            td.text-right
                                a(href="#") 
                                    i.fa.fa-delete 
                                    | Eliminar
                        tr  
                            td 127.0.0.1
                            td.text-right
                                a(href="#") 
                                    i.fa.fa-delete 
                                    | Eliminar
