noscript    
    aside#oldbrowser.hide
        section.text-frame
            .panel.primary.warning
                h1.heading.primary.
                    Actualice su explorador
                p.
                    La versión de su navegador no es soportada por este sistema.

aside#oldbrowser.hide
    section.text-frame
        .panel.primary.warning
            h1.heading.primary.
                Actualice su explorador
            p.
                La versión de su navegador no es soportada por este sistema.
main
    section.portal
        .intro-quote
            h2 
                | Bienvenido
                span a su página
        .panel.primary
            .grid.split-2.text-frame.addsuper
                .m-intro-fiduciaria.intro-portal
                    img(src="../images/logo-fiduciaria-large.png")
                    .text-center
                        a.button.primary(href="#") Continuar
                .m-intro-valores.intro-portal
                    img(src="../images/logo-valores-large.png")
                    .text-center
                        a.button.primary(href="#") Continuar
        .m-certificados
            span.amv Amv
            span.verisign Verisign
            span.super Superintendencia financiera de colombia